
@media all and (min-width:1200px){
/*text style ============*/

/*index text*/

navtxt{
    font-family:  'Roboto', sans-serif;
	color: #2196f3;
	font-weight: 300;
	line-height: 92px;
	font-size: 24px;
    opacity: 0.87;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

txt{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 65px;
	font-size: 60px;
	vertical-align: middle;
}

/* about page text */

ab{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 150px;
	font-size: 100px;
}

con{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 24px;
}

met{
    font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 16px;
}

/*other text style*/

p.display{
    font-size: 34px; /*mobile text size */
    line-height: 40px;
    font-weight:300;
    color:#ffffff;
    opacity:0.54; 
}

p.headline{
    font-size:24px;
    font-weight: 00;
    line-height: 32px;
    color:#ffffff;
    opacity: 0.87;
}

p.title{
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    color:#000000;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.subhead{
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.bodytext{
    font-size:14px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.caption{
    font-size:13px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.button{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

p.blue{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

t{ 
	font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#00b0ff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

t:hover{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    background-color: rgba(33, 150, 243, 0.2);
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px; 
}

h{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#FFFFFF;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: #5a5a5a;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}

b{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 500;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: rgba(33, 150, 243, 0.45);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}



/*content ===============*/
/*blog page*/

.card-wrap{
    width: 1200px;
    height: 2000px;
	display: block;
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.max-width{
    width: 1194px;
    height: auto;
}

.min-width{
    width: 595px;
    height: auto;
}

.head-max{
    width: 1194px;
    height: 80px;
    background-color: #424242;
    float: left;
    top: 0;
	border-bottom: 1px solid #616161;
}

.head-min{
    width: 595px;
    height: 80px;
    background-color: aqua;
    position: absolute;
    float:left;
    top: 0;
}

.type-logo{
    width: 70px;
    height: 70px;
    background-color: firebrick;
    float: left;
    margin: 5px;
}

.head-title-max{
    font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 1104px;
    height: 40px;
    float: left;
    margin:5px;
}  

.head-title-min{
	font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 505px;
    height: 40px;
    float: left;
    margin:5px;
}

.info-text-max{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 964px;
    height: 23px;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}

.info-text-min{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 964px;
    height: 23px;
    background-color: beige;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}
	
.time-text{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 00;
    line-height: 23px;
    color:#2196f3;
    opacity: 0.87;
    width: 130px;
    height: 23px;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-max{
    width: 1184px;
    height: auto;
    background-color: #424242;
    float: left;
	padding: 5px;
	display: block;
	text-align: justify;
	text-justify: inter-word;
}

/*about page*/

#blog_img{
    background: rgba(0,0,0,0) url("../assets/img/dp_large.png") no-repeat fixed center center /cover;
    height: 100%;
    position: relative;
    width: 100%;
	z-index: 200;
	top: 0;
}

#bg-web{
    background: rgba( 0, 0, 0, 0) url("../assets/img/dp_large.png") no-repeat fixed center center /cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.about-wrap{
	width: 430px;
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 200;
}

.about-heading{
	width: 430px;
	height: 150px;
	text-align: center;
	float: left;
	top: 0;
}

.about-content{
	width: 430px;
	height: 450px;
	text-align: center;
	float: left;
}

/*design page*/

#draggable {
    margin-top: 100px;
    position: absolute;
    width: 8000px;
    height: 620px;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.date_block{
 	width: 710px;
	height: 20px;
	float: left;
	position: relative;
	background-color: rgba(238, 238, 238, 0);
	padding-left: 12px;
}

.box-wrap{
    width: 712px;
    height: 622px;
    float: left;
    position: relative;
}

.maxbox{
    width: 710px;
    height: 398px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.minbox{
    width: 354px;
    height: 198px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.min{
    width: 354px;
    height: 198px;
}

.max{
    width: 710px;
    height: 398px;
}

.margin_min{
    margin-left: 157px;
    margin-top: 79px;
}

.margin_max{
    margin-left: 335px;
    margin-top: 179px;
}

/*design page menu btn*/

.btn_wrap{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 151px;
    height: 151px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    z-index: 2000;
}

.blank {
    width: 75px;
    height: 75px;
    float: left;
}

.next {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/foWD.svg);
    float: left;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.next:hover{
    width: 75px;
    height: 75px;
    border-top: 1px solid #1976d2;
    border-right: 1px solid #1976d2;
}

.back {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/bcWD.svg);
    float: left;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.back:hover{
    width: 75px;
    height: 75px;
    border-left: 1px solid #1976d2;
    border-bottom: 1px solid #1976d2;
}


/*heading ==============*/

.pghead{
    top: 0;
    left: 0;
    height: 60px;
    width: 400px;
    position: fixed;
    display: block;
    z-index: 1500;
    margin-left: 75px;
}

.heading{
	font-family:  'Roboto', sans-serif;
    font-size: 34px; 
    font-weight:300;
	margin-left: 5px;
	line-height: 55px;
    opacity:0.54;
	float: left;
}



/*footer ===============*/




/*index ================*/

.index-nav-wrap{
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 800px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 280;
    border: 1px solid #2196f3;
}

.nav-btns{
    width: 195px;
    height: 92px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-btns:hover .btn-bg{
    opacity: 0.1;
    background-color: #2196f3;
}

.nav-btns:active .btn-bg{
    opacity: 0.8;
    background-color: #2196f3;
}

.nav-btns:hover navtxt{
    color: #ffffff;
}

.btn-bg{
    width: 195px;
    height: 92px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    position: absolute;
    z-index: 250;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.nav-btn-bg{
    width: 195px;
    height: 92px;
    position: absolute;
    z-index: 312;
    background-color: rgba(0,0,0,0);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

}


@media all and (min-width:481px) and (max-width: 1100px){
/*text style ============*/

/*index text*/

navtxt{
    font-family:  'Roboto', sans-serif;
	color: #2196f3;
	font-weight: 300;
	line-height: 92px;
	font-size: 24px;
    opacity: 0.87;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

txt{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 65px;
	font-size: 60px;
	vertical-align: middle;
}

/* about page text */

ab{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 150px;
	font-size: 100px;
}

con{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 24px;
}

met{
    font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 16px;
}

/*other text style*/

p.display{
    font-size: 34px; /*mobile text size */
    line-height: 40px;
    font-weight:300;
    color:#ffffff;
    opacity:0.54; 
}

p.headline{
    font-size:24px;
    font-weight: 00;
    line-height: 32px;
    color:#ffffff;
    opacity: 0.87;
}

p.title{
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    color:#000000;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.subhead{
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.bodytext{
    font-size:14px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.caption{
    font-size:13px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.button{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

p.blue{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

t{ 
	font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#00b0ff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

t:hover{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    background-color: rgba(33, 150, 243, 0.2);
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px; 
}

h{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#FFFFFF;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: #5a5a5a;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}

b{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 500;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: rgba(33, 150, 243, 0.45);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}



/*content ===============*/
/*blog page*/

.card-wrap{
    width: 720px;
    height: auto;
	display: block;
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.max-width{
    width: 714px;
    height: auto;
}

.min-width{
    width: 595px;
    height: auto;
}

.head-max{
    width: 714px;
    height: 80px;
    background-color: #424242;
    float: left;
    top: 0;
	border-bottom: 1px solid #616161;
}

.head-min{
    width: 595px;
    height: 80px;
    background-color: aqua;
    position: absolute;
    float:left;
    top: 0;
}

.type-logo{
    width: 70px;
    height: 70px;
    background-color: firebrick;
    float: left;
    margin: 5px;
}

.head-title-max{
    font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 624px;
    height: 40px;
    float: left;
    margin:5px;
}  

.head-title-min{
	font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 505px;
    height: 40px;
    float: left;
    margin:5px;
}

.info-text-max{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 535px;
    height: 23px;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}

.info-text-min{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 964px;
    height: 23px;
    background-color: beige;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}
	
.time-text{
	font-family:  'Roboto', sans-serif;
    font-size:12px;
    font-weight: 00;
    line-height: 23px;
    color:#2196f3;
    opacity: 0.87;
    width: 78px;
    height: 23px;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-max{
    width: 704px;
    height: auto;
    background-color: #424242;
    float: left;
	padding: 5px;
	display: block;
	text-align: justify;
	text-justify: inter-word;
}

/*about page*/

#blog_img{
    background: rgba(0,0,0,0) url("../assets/img/dp_large.png") no-repeat fixed center center /cover;
    height: 100%;
    position: relative;
    width: 100%;
	z-index: 200;
	top: 0;
}

#bg-web{
    background: rgba( 0, 0, 0, 0) url("../assets/img/dp_tablet.png") no-repeat fixed center center /cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.about-wrap{
	width: 430px;
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 200;
}

.about-heading{
	width: 430px;
	height: 150px;
	text-align: center;
	float: left;
	top: 0;
}

.about-content{
	width: 430px;
	height: 450px;
	text-align: center;
	float: left;
}

/*design page*/

#draggable {
    margin-top: 100px;
    position: absolute;
    width: 8000px;
    height: 620px;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.date_block{
 	width: 710px;
	height: 20px;
	float: left;
	position: relative;
	background-color: rgba(238, 238, 238, 0);
	padding-left: 12px;
}

.box-wrap{
    width: 712px;
    height: 622px;
    float: left;
    position: relative;
}

.maxbox{
    width: 710px;
    height: 398px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.minbox{
    width: 354px;
    height: 198px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.min{
    width: 354px;
    height: 198px;
}

.max{
    width: 710px;
    height: 398px;
}

.margin_min{
    margin-left: 157px;
    margin-top: 79px;
}

.margin_max{
    margin-left: 335px;
    margin-top: 179px;
}

/*design page menu btn*/

.btn_wrap{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 151px;
    height: 151px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    z-index: 2000;
}

.blank {
    width: 75px;
    height: 75px;
    float: left;
}

.next {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/foWD.svg);
    float: left;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.next:hover{
    width: 75px;
    height: 75px;
    border-top: 1px solid #1976d2;
    border-right: 1px solid #1976d2;
}

.back {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/bcWD.svg);
    float: left;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.back:hover{
    width: 75px;
    height: 75px;
    border-left: 1px solid #1976d2;
    border-bottom: 1px solid #1976d2;
}


/*heading ==============*/

.pghead{
    top: 0;
    left: 0;
    height: 60px;
    width: 400px;
    position: fixed;
    display: block;
    z-index: 1500;
    margin-left: 75px;
}
    
.heading{
	font-family:  'Roboto', sans-serif;
    font-size: 34px; 
    font-weight:300;
	margin-left: 5px;
	line-height: 55px;
    opacity:0.54;
	float: left;
}



/*footer ===============*/




/*index ================*/

.index-nav-wrap{
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 720px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 280;
    border: 1px solid #2196f3;
}

.nav-btns{
    width: 175px;
    height: 92px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-btns:hover .btn-bg{
    opacity: 0.1;
    background-color: #2196f3;
}

.nav-btns:active .btn-bg{
    opacity: 0.8;
    background-color: #2196f3;
}

.nav-btns:hover navtxt{
    color: #ffffff;
}

.btn-bg{
    width: 175px;
    height: 92px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    position: absolute;
    z-index: 250;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.nav-btn-bg{
    width: 175px;
    height: 92px;
    position: absolute;
    z-index: 312;
    background-color: rgba(0,0,0,0);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

}


@media all and (max-width:480px){
/*text style ============*/

/*index text*/

navtxt{
    font-family:  'Roboto', sans-serif;
	color: #2196f3;
	font-weight: 300;
	line-height: 92px;
	font-size: 24px;
    opacity: 0.87;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

txt{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 65px;
	font-size: 60px;
	vertical-align: middle;
}

/* about page text */

ab{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 150px;
	font-size: 100px;
}

con{
	font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 24px;
}

met{
    font-family:  'Roboto', sans-serif;
	color: #fff;
	font-weight: 100;
	line-height: 30px;
	font-size: 16px;
}

/*other text style*/

p.display{
    font-size: 34px; /*mobile text size */
    line-height: 40px;
    font-weight:300;
    color:#ffffff;
    opacity:0.54; 
}

p.headline{
    font-size:24px;
    font-weight: 00;
    line-height: 32px;
    color:#ffffff;
    opacity: 0.87;
}

p.title{
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    color:#000000;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.subhead{
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px;
}

p.bodytext{
    font-size:14px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.caption{
    font-size:13px;
    font-weight: 300;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.54;
    letter-spacing: 0.5px;
}

p.button{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#ffffff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

p.blue{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
}

t{ 
	font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#00b0ff;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

t:hover{
    font-size:15px;
    font-weight: 400;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 2px;
    background-color: rgba(33, 150, 243, 0.2);
    border-color: rgba(33, 150, 243, 0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px; 
}

h{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 300;
    line-height: 24px;
    color:#FFFFFF;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: #5a5a5a;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}

b{
    font-family:  'Roboto', sans-serif;
    font-size:15px;
    font-weight: 500;
    line-height: 24px;
    color:#2196F3;
    opacity: 0.87;
    letter-spacing: 0.5px; 
    padding-left: 3px;
    padding-right: 3px;
    background-color: #393939;
    border-color: rgba(33, 150, 243, 0.45);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;  
}



/*content ===============*/
/*blog page*/

.card-wrap{
    width: 320px;
    height: auto;
	display: block;
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.max-width{
    width: 314px;
    height: auto;
}

.min-width{
    width: 595px;
    height: auto;
}

.head-max{
    width: 314px;
    height: 80px;
    background-color: #424242;
    float: left;
    top: 0;
	border-bottom: 1px solid #616161;
}

.head-min{
    width: 595px;
    height: 80px;
    background-color: aqua;
    position: absolute;
    float:left;
    top: 0;
}

.type-logo{
    width: 70px;
    height: 70px;
    background-color: firebrick;
    float: left;
    margin: 5px;
}

.head-title-max{
    font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 224px;
    height: 40px;
    float: left;
    margin:5px;
}  

.head-title-min{
	font-family:  'Roboto', sans-serif;
    font-size:24px;
    font-weight: 00;
    line-height: 40px;
    color:#ffffff;
    opacity: 0.87;
    width: 505px;
    height: 40px;
    float: left;
    margin:5px;
}

.info-text-max{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 135px;
    height: 23px;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}

.info-text-min{
	font-family:  'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
    line-height: 23px;
    color:#ffffff;
    opacity: 0.87;
    width: 964px;
    height: 23px;
    background-color: beige;
    float: left;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
}
	
.time-text{
	font-family:  'Roboto', sans-serif;
    font-size:12px;
    font-weight: 00;
    line-height: 23px;
    color:#2196f3;
    opacity: 0.87;
    width: 78px;
    height: 23px;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-max{
    width: 304px;
    height: auto;
    background-color: #424242;
    float: left;
	padding: 5px;
	display: block;
	text-align: justify;
	text-justify: inter-word;
}

/*about page*/

#blog_img{
    background: rgba(0,0,0,0) url("../assets/img/dp_large.png") no-repeat fixed center center /cover;
    height: 100%;
    position: relative;
    width: 100%;
	z-index: 200;
	top: 0;
}

#bg-web{
    background: rgba( 0, 0, 0, 0) url("../assets/img/dp_mobile.png") no-repeat fixed center center /cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.about-wrap{
	width: 320px;
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 200;
}

.about-heading{
	width: 320px;
	height: 150px;
	text-align: center;
	float: left;
	top: 0;
}

.about-content{
	width: 320px;
	height: 450px;
	text-align: center;
	float: left;
}

/*design page*/

#draggable {
    margin-top: 100px;
    position: absolute;
    width: 8000px;
    height: 620px;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.date_block{
 	width: 710px;
	height: 20px;
	float: left;
	position: relative;
	background-color: rgba(238, 238, 238, 0);
	padding-left: 12px;
}

.box-wrap{
    width: 712px;
    height: 622px;
    float: left;
    position: relative;
}

.maxbox{
    width: 710px;
    height: 398px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.minbox{
    width: 354px;
    height: 198px;
    border: 1px solid #212121;
    background-color: #212121;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.min{
    width: 354px;
    height: 198px;
}

.max{
    width: 710px;
    height: 398px;
}

.margin_min{
    margin-left: 157px;
    margin-top: 79px;
}

.margin_max{
    margin-left: 335px;
    margin-top: 179px;
}

/*design page menu btn*/

.btn_wrap{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 151px;
    height: 151px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    z-index: 2000;
}

.blank {
    width: 75px;
    height: 75px;
    float: left;
}

.next {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/foWD.svg);
    float: left;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.next:hover{
    width: 75px;
    height: 75px;
    border-top: 1px solid #1976d2;
    border-right: 1px solid #1976d2;
}

.back {
    width: 75px;
    height: 75px;
    background: url(../assets/svg/bcWD.svg);
    float: left;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.back:hover{
    width: 75px;
    height: 75px;
    border-left: 1px solid #1976d2;
    border-bottom: 1px solid #1976d2;
}


/*heading ==============*/

.pghead{
    top: 0;
    left: 0;
    height: 60px;
    width: 400px;
    position: fixed;
    display: block;
    z-index: 1500;
    margin-left: 75px;
    display: none;
}

.heading{
	font-family:  'Roboto', sans-serif;
    font-size: 34px; 
    font-weight:300;
	margin-left: 5px;
	line-height: 55px;
    opacity:0.54;
	float: left;
}



/*footer ===============*/




/*index ================*/

.index-nav-wrap{
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 400px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 280;
    border: 1px solid #2196f3;
}

.nav-btns{
    width: 310px;
    height: 92px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-btns:hover .btn-bg{
    opacity: 0.1;
    background-color: #2196f3;
}

.nav-btns:active .btn-bg{
    opacity: 0.8;
    background-color: #2196f3;
}

.nav-btns:hover navtxt{
    color: #ffffff;
}

.btn-bg{
    width: 312px;
    height: 92px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    position: absolute;
    z-index: 250;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.nav-btn-bg{
    width: 310px;
    height: 92px;
    position: absolute;
    z-index: 312;
    background-color: rgba(0,0,0,0);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

}
